html, body {
  height: 100%;
  margin: -20px 0 0 0;
  color: white;  
}


a {
  text-decoration: none;
  color: inherit;
}


a:hover {
  color: #A99FA1;
}



section {
  background: #00688b;
  height: 300%;
  text-align: center;
}